<!DOCTYPE html>
<!--
AUTHOR: Joey Jarvenpaa, Anne Johnson, Gabe Meyerson
VERSION: 1.0
CREATED: 1.13.2017
ASSIGNMENT: Dicer
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Magic Dicer of stuff that can do things!!!</title>
    <link href="public/css/style.css" rel="stylesheet">
    <link href="public/css/foundation.min.css" rel="stylesheet">
</head>
<body>