<% include public/views/header.ejs %>

<div id="background">
</div>

<div class="container text-center">
    <h1 class="text-center">DICE ROLLER!!!!1!!!1!!</h1>
    <div class="row text-center">
        <div class="small-4 column">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/af/cc/9c/afcc9c33b300b1c5385f1905aa8c6bb0.gif">
        </div>
        <div class="small-4 column">
            <div>
                <input type="radio" id="a-option" name="selector">
                <label for="a-option">
                    <h4>d4</h4>
                </label>
            </div>
            <div>
                <input type="radio" id="b-option" name="selector">
                <label for="b-option">
                    <h4>d6</h4>
                </label>
            </div>
            <div>
                <input type="radio" id="c-option" name="selector">
                <label for="c-option">
                    <h4>d8</h4>
                </label>
            </div>
            <div>
                <input type="radio" id="d-option" name="selector">
                <label for="d-option">
                    <h4>d12</h4>
                </label>
            </div>
            <input type="radio" id="e-option" name="selector">
            <label for="e-option">
                <h4>d20</h4>
            </label>
        </div>
        <div class="small-4 column">
            <img src="http://www.animated-gifs.eu/category_leisure/leisure-games-dice-various/0010.gif">
        </div>
    </div>

    <!--<div class="row" id="slider">-->
    <!--<div class="slider" data-slider data-initial-start="50" data-end="100">-->
    <!--<span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>-->
    <!--<span class="slider-fill" data-slider-fill></span>-->
    <!--<input type="hidden">-->
    <!--</div>-->
    <!--</div>-->


    <div class="row">
        <div class="small-12 text-centered columns">
            <label>Number of Dice
                <input type="text" placeholder="1-10" id="numberOfDice">
            </label>
        </div>
    </div>

    <div class="row text-center">
        <div class="callout">
            <span id="results"></span>
        </div>
    </div>

    <div class="row">
        <div class="small-12 text-centered columns">
            <div class="button text-centered float-center" id="button">gamble your life away</div>
        </div>
    </div>
</div>

<% include public/views/footer.ejs %>